{% extends 'base.html' %}
{% block title %}
 About
{% endblock title %}
{% block body %}
<article class="my-3" id="scrollspy">
      <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>Scrollspy</h3>
        <a class="d-flex align-items-center" href="../components/scrollspy/">Documentation</a>
      </div>

      <div>
        <div class="bd-example">
          <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
            <a class="navbar-brand" href="#">Navbar</a>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#scrollspyHeading1">First</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2">Second</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
                  <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            <h4 id="scrollspyHeading1">First heading</h4>
            <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
            <h4 id="scrollspyHeading2">Second heading</h4>
            <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
            <h4 id="scrollspyHeading3">Third heading</h4>
            <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
            <h4 id="scrollspyHeading4">Fourth heading</h4>
            <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
            <h4 id="scrollspyHeading5">Fifth heading</h4>
            <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
          </div>
        </div>
      </div>
    </article>

<div class="row position-fix">
              <div class="col-4"> <a href="#freaures">freaures</a> </div>
              <div class="col-4"> <a href="#copyright_issue">copyright_issue</a> </div>
              <div class="col-4"> <a href="#for_singer_and_authers">for_singer_and_authers</a> </div>
              <div class="col-4"> <a href="#q_and_a"></a> </div>
</div>
               <div class="row mt-4">
        <div class="col-md-8 blog-main">


              <section id="freaures">

              </section>

              <section id="copyright_issue">

              </section>

              <section id="q_and_a">

              </section>
              

              <section id="for_singer_and_authers">
                            <strong>If the Singer or the user have any Problem with these website.</strong>
              <p>We sinserly aploize for the trobble . If you have problem with these website plase try to inform us with the informantions given in the aside section.</p>
              <p>We don't wanna to make the problems for anyone . We just wanna to help the singer/indersrty/new_grenerations with these platfrom . We all try our best to 
                            improve conditions of the music indersrty of the nepal . 
                            If the make these possible it will help to the newer generations to 
                            achive there dreams with there own motive .</p>

                            <p>As we all know that our country is the developing country .
                            The people of the nepal cannot affort there own set of the songs/albums 
                            these website will help them the listen the songs freely.
                            </p>

              </section>


        </div>
        <!-- /.blog-post -->
        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-dark rounded">
                          <h6><strong>Admin: Alan Thapa, Binita Chattery,Siddhant Aryal , Schain loed, Arjun Harijan.   </strong></h6>
                          <h6><strong>contact/Phone:1234567890 / 1234567890 / 1234567890</strong></h6>
                            <h6><h6><strong>Email:NepaliSong@gmail.com </strong></h6></h6>
                          <h6><strong>Location: Ruphandehi </strong></h6>
                          <strong>© 2021 • NepaliSong.com</strong>
            </div>



            <div class="p-4">
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#"> <i class="fab fa-twitter "></i> Twitter</a></li>
                    <li><a href="#"> <i class="fab fa-facebook "></i> Facebook</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.blog-main -->

{% endblock body %}
{% block music_manu %}
 <h6 class="text-center">Sorry, Music menu features are not add yet ! We will try to add in the future . </h1>
<p class="text-center">© CopyRight 2021 • NepaliSong</p>

             
{% endblock music_manu %}